<div class="jumbo flex">
  <div class="left teacher tomster"></div>

  <div>
    <h2>About this session</h2>
    <h4>
      This session aims to help you get onboard with the basics of EmberJS.
    </h4>
    
    <span>It incoporates the following concept:</span>
    <ul>
      <li>
        Templating
      </li>
      <li>
        Routing
      </li>
      <li>
        Components
      </li>
    </ul>
  </div>
</div>